*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.claerfix:after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Roboto', sans-serif;
}
/* inizio header */

header{
  width: 100%;
  /* background: lightgrey; */
}

/* struttura barra fixed */
.nav-principal{
  width: 100%;
  height: 100px;
  background-color: rgb(208, 232, 242);
  border-bottom: 2px solid grey;
  /* position: fixed;
  top: 100%; */
  /* background: lightblue; */
}

.principal-container{
  width: 80%;
  height: 100%;
  margin: auto;
  /* background-color: rgb(164, 213, 213); */
}

.principalsx{
  width: 50%;
  height: 100%;
}

.principaldx{
  width: 50%;
  height: 100%;
  /* background-color: green; */
  text-align: right;
  line-height: 100px;
}

.principaldx a{
  text-decoration: none;
}

/* contenuto barra fixed parte sx */

.lingua{
  line-height: 100px;
  display: inline-block;
  color: grey;
  width: 25%;
  /* height: 20px; */
  /* border-right: 2px solid black; */


}
.lingua i{
  display: inline-block;
}

.lingua a i{
  color: grey;
  padding-right: 30px;
  border-right: 2px solid grey;
}


.lingua p{
  display: inline-block;
}

.contact{
  display: inline-block;
  line-height: 100px;
  padding-left: 25px;
}

.contact a{
  text-decoration: none;
  color: grey;
}

/* contenuto barra fixed parte dx */

.search{
  display: inline-block;
}

.search > a{
  color: rgb(18, 149, 213);
}

.login{
  display: inline-block;
  padding-left: 10px;
}

.login a{
  padding: 10px;
  border: 1px solid orange;
  border-radius: 5px;
  color: orange;
}

.gethubspotfree{
  display: inline-block;
  padding-left: 10px;
}

.gethubspotfree a{
  padding: 10px;
  background-color: orange;
  color: white;
  border-radius: 5px;
}


/* barra menù */
.nav-secondary{
  width: 100%;
  height: 100px;
  /* background: red; */
}

.secondary-container{
  width: 80%;
  height: 100px;
  margin: auto;
  background-color: white;
}

.logo{
  width: 50%;
  height: 100%;
  line-height: 100px;
  /* background-color: black; */
}

/* menù */

.menù{
  width: 50%;
  height: 100%;
  /* background-color: red; */
  text-align: right;
  line-height: 100px;
}

.listamenù li{
  list-style: none;
  display: inline-block;
  padding-left: 12px;
  color: grey;
}

ul.listamenù li a{
  padding-left: 8px;
  color: grey;
  text-decoration: none;
}



/* jumbotron */
.jumbotron{
  width: 100%;
  height: 560px;
  background: blue;
}

.jumbotron-container{
  width: 90%;
  height: 100%;
  margin-left: 10%;
  background-color: #fdf3ee;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 100%;
  position: relative;
}

/* titolo jumbotron */
.title-jumbotron{
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  width: 40%;
}

.title-jumbotron p{
  margin: 30px 0;
  line-height: 30px;
  color: grey;
}

.title-jumbotron h1{
  font-size: 50px;
  color: grey;
}

.clickme{
  margin-bottom: 30px;
}

.clickme a{
  background-color: orange;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.title-jumbotron span{
  font-size: 10px;
  color: grey;
}
