*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.claerfix:after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Roboto', sans-serif;
}
/* inizio header */

header{
  width: 100%;
  /* background: lightgrey; */
}

/* struttura barra fixed */
.nav-principal{
  width: 100%;
  height: 100px;
  background-color: rgb(208, 232, 242);
  border-bottom: 2px solid grey;
  position: fixed;
  /* metto un margin top a quello sotto grande come questa barra fixed */
  top: 0;
  /* mettere z-index il più alto possibile */
  z-index: 999;
  /* background: lightblue; */
}

.principal-container{
  width: 80%;
  height: 100%;
  margin: auto;
  /* background-color: rgb(164, 213, 213); */
}

.principalsx{
  width: 50%;
  height: 100%;
}

.principaldx{
  width: 50%;
  height: 100%;
  /* background-color: green; */
  text-align: right;
  line-height: 100px;
}

.principaldx a{
  text-decoration: none;
}

/* contenuto barra fixed parte sx */

.lingua{
  line-height: 100px;
  display: inline-block;
  color: grey;
  width: 30%;
  /* height: 20px; */
  /* border-right: 2px solid black; */


}
.lingua i{
  display: inline-block;
}

.lingua a i{
  color: grey;
  padding-right: 40px;
  border-right: 2px solid grey;
}


.lingua p{
  display: inline-block;
}

.contact{
  display: inline-block;
  line-height: 100px;
}

.contact a{
  text-decoration: none;
  color: grey;
}

/* contenuto barra fixed parte dx */

.search{
  display: inline-block;
}

.search > a{
  color: rgb(18, 149, 213);
}

.login{
  display: inline-block;
  padding-left: 10px;
}

.login a{
  padding: 10px;
  border: 1px solid orange;
  border-radius: 5px;
  color: orange;
}

.gethubspotfree{
  display: inline-block;
  padding-left: 10px;
}

.gethubspotfree a{
  padding: 10px;
  background-color: orange;
  color: white;
  border-radius: 5px;
}


/* barra menù */
.nav-secondary{
  width: 100%;
  height: 100px;
  margin-top: 100px;
  /* background: red; */
}

.secondary-container{
  width: 80%;
  height: 100px;
  margin: auto;
  background-color: white;
}

.logo{
  width: 50%;
  height: 100%;
  line-height: 100px;
  /* background-color: black; */
}

/* menù */

.menù{
  width: 50%;
  height: 100%;
  /* background-color: red; */
  text-align: right;
  line-height: 100px;
}

.listamenù li{
  list-style: none;
  display: inline-block;
  padding-left: 12px;
  color: grey;
}

ul.listamenù li a{
  padding-left: 8px;
  color: grey;
  text-decoration: none;
}



/* jumbotron */
.jumbotron{
  width: 100%;
  height: 730px;
  background-color: #fdf3ee;
  position: relative;

}

.jumbotron-container{
  width: 90%;
  height: 100%;
  margin-left: 10%;
  /* background-color: #fdf3ee; */
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 100%;
  position: relative;
  z-index: 2;

}

/* titolo jumbotron */
.title-jumbotron{
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  width: 40%;
}

.title-jumbotron p{
  margin: 30px 0;
  line-height: 30px;
  color: grey;
}

.title-jumbotron h1{
  font-size: 50px;
  color: grey;
}

.clickme{
  margin-bottom: 30px;
}

.clickme a{
  background-color: orange;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.title-jumbotron span{
  font-size: 10px;
  color: grey;
}

/* linea di continuità immagine */

.lineacontinuità{
  width: 100%;
  height: 88px;
  border-top: 3px solid #3b5061;
  border-bottom: 3px solid #3b5061;
  background-color: #bce9e4;
  position: absolute;
  bottom: 0;
  z-index: 1;
}


/* inizio main */

.section1{
  width: 100%;
  background-color: #d0e8f2;
}


/* sez1 */

.sez1{
  width: 80%;
  margin: auto;
  height: 400px;
  /* background-color: yellow; */
  text-align: center;
}

.imgsez1 img{
  width: 20%;
  margin: 20px 0;
}

.sez1title{
  margin-bottom: 20px;
}

.sez1text{
  width: 80%;
  margin: auto;
  line-height: 30px;
}

/* sez2 */

.sez2{
  width: 80%;
  margin: auto;
  height: 300px;
  background-color: white;
}

.sez21{
  width: 30%;
  height: 100%;
  /* background-color: white; */
  position: relative;
}

.sez21content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.sez21content img{
  width: 100%;
}
.sez21content div{
  margin: 30px;
}

.sez21content div a{
  background-color: orange;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

/* seconda sezione della sezione 2 */

.sez22{
  width: 70%;
  height: 100%;
  /* background-color: lightblue; */
  position: relative;
}

.sez22content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.elenco ul li{
  display: inline-block;
  padding-right: 20px;
}
.elenco ul li i {
  padding-right: 10px;
  color: orange;
}

.sez22content h3{
  padding-bottom: 30px;
  font-size: 24px;
  color: grey;
}
.sez22content p{
  line-height: 30px;
  width: 70%;
  color: grey;
}

.sez22content h4{
  padding-top: 20px;
  padding-bottom: 20px;
  color: grey;
  font-size: 18px;

}

/* creare linea a fianco della scritta */
.pfeatures::after{
  content: '';
  display: block;
  float: right;
  width: 70%;
  height: 2px;
  margin-top: 9px;
  background-color: grey;
}


/* sez3 */

.sez3{
    width: 80%;
    margin: auto;
    height: 700px;
    /* background-color: green; */
}

.sez31{
  width: calc(100% / 3);
  height: 700px;
  /* background-color: black; */
  position: relative;

}
/* contenuto sotto sezioni */
.stsezcontenuto{
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.stsezimg img{
  width: 70%;
}

.stsezcontenuto h3{
  padding-bottom: 20px;
  color: grey;
  font-size: 18px;
}
.stsezcontenuto p{
  padding-bottom: 40px;
  line-height: 30px;
}

.stsezcontenuto hr{
  margin-bottom: 30px;
}

.stsezcontenuto ul li{
  list-style:  none;
  text-align: left;
}

.stsezcontenuto ul li i{
  color: orange;
  padding-right: 10px;
}




.sez32{
  width: calc(100% / 3);
  height: 700px;
  /* background-color: pink; */
  position: relative;
}


.sez33{
  width: calc(100% / 3);
  height: 700px;
  /* background-color: yellow; */
  position: relative;
}

.stsez{
  width: 80%;
  height: 90%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 1px 1px 10px rgb(173, 233, 246);
}

/* bottone */
.btn{
  padding-top: 60px;
}

.btn a{
  background-color: orange;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

/* section2 */

.section2{
  width: 100;
  height: 700px;
  background-image: linear-gradient(to right, #00a8b9, #00baa8);
}

.section2container{
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

.section2content{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section2content h2{
  padding-bottom: 40px;
  color: white;
  font-size: 35px;
  width: 80%;
  margin: auto;
}

.section2content > p{
  padding-bottom: 20px;
  color: white;
  line-height: 40px;
}



/* riquadri tabella */

.riquadro1{
  width: calc(100% / 4);
  height: 150px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  color: white;
}

.riquadro2{
  width: calc(100% / 4);
  height: 150px;
  border-bottom: 2px solid white;
  color: white;

}

.riquadro3{
  width: calc(100% / 4);
  height: 150px;
  border-right: 2px solid white;
  color: white;

}

.riquadro{
  width: calc(100% / 4);
  height: 150px;
  color: white;

}


/* spostare contenuto in basso */
.riquadro1 i {
  margin-top: 25px;
}

.riquadro2 i {
  margin-top: 25px;
}

.riquadro3 i {
  margin-top: 15px;
}

.riquadro i {
  margin-top: 15px;
}

/* sistemo scritte */

.riquadro1 :nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.riquadro2 :nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.riquadro3 :nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.riquadro :nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* sistemo immagine */


.riquadro1 i{
  font-size: 30px;
}

.riquadro2 i{
  font-size: 30px;
}

.riquadro3 i{
  font-size: 30px;
}

.riquadro i{
  font-size: 30px;
}

/* section 3 */

.section3{
  width: 100%;
  height: 600px;
  background-color: black;
}

.section3container{
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: white;
}

/* sezione superiore */

.sezionesuperiore{
  width: 100%;
  height: 35%;
  background: red;
}

.latosx{
  width: 40%;
  height: 100%;
  background-color: green;
  position: relative;
}


.latodx{
  width: 60%;
  height: 100%;
  background-color: blue;
  position: relative;
}

/* lato sinistro */

.contentlatosx{
  color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.contentlatosx h3{
  width: 40%;
  font-size: 60px;
  padding-bottom: 10px;
}

.contentlatosx p{
  padding-top: 10px;
  width: 80%;
  line-height: 20px;
}

/* parte dx */

.contentlatodx{
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.contentlatodx img{
  width: calc(23%);
  /* padding-top: 10px; */
}


/* sezione inferiore */

.sezioneinferiore{
  width: 100%;
  /* height: 65%; */
  background-color: red;
}

.latosx2{
  width: 50%;
  height: 100%;
  background-color: yellow;
}

.latodx2{
  width: 50%;
  height: 100%;
  background-color: pink;
  position: relative;
}


/* lato destro */

.imginfdx{
text-align: right;
}

.imginfdx img{
  width: 60%;
}
